:root {
    --primary : #4f46e5;
    --primary-dark:#4338ca;
    --bg-body : #f8fafc;
    --bg-sidebar: #fff;
    --text-main: #1e293b;
    --text-muted:#64748b;
    --border: #e2e8f0;
    --success: #10b981;
    --warning:#f59e0b;
    --danger: #ef4444;
    --shadow: 0 1px 3px 0 rgba(0,0,0, 0.1);
}
 /* Reset & base*/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'inter',system-ui, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    display: grid;
    grid-template-columns: 1fr;
 }

 /* sidebar and nav */
 aside {
    width: 100%;
    overflow: hidden;
    height: fit-content;
    padding: 24px;
    background-color: var(--bg-sidebar);
 }
 .logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
 }
 .logo-icon {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 8px;
 }
 nav {
    width: 100%;
    overflow: hidden;
 }
 .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
    overflow-x: auto ;
    white-space: nowrap;
    flex-wrap: nowrap ;
 }
 .nav-item {
    flex-shrink:0 ;
 }
 .nav-link {
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text-muted);
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s;
 }
.nav-link:hover, .nav-link.active {
    background-color: #f1f5f9;
    color: var(--primary);
}

header {
    height: 70px;
    background-color: var(--bg-sidebar);
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    position: sticky;
    top: 0;
    z-index: 50;
    align-items: center;
    border-bottom: var(--border) 1px solid;
}

.search-bar {
   background: #f1f5f9;
   border: none;
   padding: 10px 16px;
   border-radius: 20px;
   outline-color:var(--primary) ;   
}

/* User Profile Component */
.user-profile {
   display: flex;
   align-items: center;
   gap: 12px;
}
.avatar{
   width: 36px;
   height: 36px;
   background: #cbd5e1;
   border-radius: 99999px;
}
.user-info {
   text-align: right;
   line-height: 1.2;
}
.user-name {
   font-weight: 600;
   font-size: 0.875rem;
}
.user-role {
   color: var(--text-muted);
   font-size: .75rem;
}

@media (min-width:1024px) {
   body {
      grid-template-columns: 250px 1fr;
   }
}
@media (min-width:1024px) {
   .nav-links {
      flex-direction: column;
   }
   .nav-item {
      width: 100%;
   }
   aside {
      min-height: 100vh;
   }
}