header {
    height: 70px;
    background-color: var(--bg-sidebar);
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    position: sticky;
    top: 0;
    z-index: 50;
    align-items: center;
    border-bottom: var(--border) 1px solid;
}

.search-bar {
   background: #f1f5f9;
   border: none;
   padding: 10px 16px;
   border-radius: 20px;
   outline-color:var(--primary) ;   
}