 /* sidebar and nav */
 aside {
    width: 100%;
    overflow: hidden;
    height: fit-content;
    padding: 24px;
    background-color: var(--bg-sidebar);
    border-bottom: 1px solid var(--border);
 }
 .logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
 }
 .logo-icon {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 8px;
 }
 nav {
    width: 100%;
    overflow: hidden;
 }
 .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
    overflow-x: auto ;
    white-space: nowrap;
    flex-wrap: nowrap ;
 }
 .nav-item {
    flex-shrink:0 ;
 }
 .nav-link {
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text-muted);
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s;
 }
.nav-link:hover, .nav-link.active {
    background-color: #f1f5f9;
    color: var(--primary);
}

@media (min-width:1024px) {
   .nav-links {
      flex-direction: column;
   }
   .nav-item {
      width: 100%;
   }
   aside {
      min-height: 100vh;
      border-right:1px solid var(--border);
      border-bottom: none;
   }
}